PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/alfpat-electronics
JWT_SECRET=
JWT_EXPIRES_IN=30d
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
PAYSTACK_SECRET_KEY=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
ADMIN_WHATSAPP_NUMBER=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_NAME=ALFPAT ELECTRONICS
CLIENT_URL=http://localhost:3000
